* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

:root {
  --gray: #dbe2e6;
  --dark-gray: #cbd3d8;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 340px;
  padding: 2em;
  transition-property: background-color;
  transition-duration: 0.4s;
  border-radius: 10px;
  border: solid 15px transparent;
  transform: scale(0.7);
  position: absolute;

  .image {
    width: 176px;
    height: 184px;
    background-image: url('../images/file.png');
    background-size: contain;
  }

  .name {
    font-size: 25px;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
  }
}

.file:hover {
  cursor: pointer;
  background-color: #eefdff;
  border-width: 15px;
  border-style: solid;
  border-image: url('../images/border.png') 30 round;
}

.file:focus {
  cursor: pointer;
  background-color: #daf1f5;
  border-width: 15px;
  border-style: solid;
  border-image: url('../images/border.png') 30 round;
  outline: none;
}

.window {
  height: 300px;
  width: 300px;
  border: solid 15px;
  border-image: url('../images/border2.png') 40 round;
  padding: 5px;
  background-color: #fff9e8;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999999999 !important;

  .header {
    width: 100%;
    border-bottom: solid 10px;
    border-image: url('../images/border2.png') 40 round;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      font-weight: bold;
      font-size: 20px;
    }

    img {
      width: 35px;
      cursor: pointer;
    }
  }

  .body {
    .text {
      padding: 10px 0;
    }
  }
}

.gone {
  display: none;
}

footer {
  width: 100%;
  // outline: solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding: 10px 20px;

  .left {
    display: flex;
    align-items: center;

    .start {
      cursor: pointer;
      margin-right: 20px;
    }

    .file-tray {
      .file-tray-item {
        height: 75px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        background-color: var(--gray);
        border: solid 15px;
        border-image: url('../images/border2.png') 40 round;

        svg {
          width: 40px;
        }
      }

      .file-tray-item:hover {
        background-color: var(--dark-gray);
      }
    }
  }

  .right {
    .info {
      p {
        text-align: right;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
